<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'My Discounts', merchant_bulk_discounts_path(@merchant), class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<%= form_with model: @bulk_discounts, url: merchant_bulk_discount_path(@merchant, @bulk_discount), method: :patch, local: true do |f| %>
  <%= f.label :percentage_discount, "Percentage discount"  %>
  <%= f.number_field :percentage_discount, value: @bulk_discount.percentage_discount, required: true %>

  <%= f.label :quantity_threshold, "Quantity threshold" %>
  <%= f.number_field :quantity_threshold, value: @bulk_discount.quantity_threshold, required: true %>

  <%= f.button "Update Discount" %>
<% end %>