<h1>Edit Bulk Discount</h1>
<%= form_with url: "/merchant/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}", method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :value => @bulk_discount.name %>
  <%= f.label :percentage %>
  <%= f.text_field :percentage, :value => @bulk_discount.percentage %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity, :value => @bulk_discount.quantity %>
  <%= f.submit %>
<% end %>
