<h1><center>Edit Discount Information<center></h1>

<%= form_with url: merchant_bulk_discount_path(@merchant.id, @bulk_discount.id), method: :patch, local: true do |f| %>
  <%= f.label :Percentage %>
  <%= f.text_field :percentage, value:@bulk_discount.percentage %>

  <%= f.label :Quantity_threshold %>
  <%= f.text_field :quantity_threshold, value:@bulk_discount.quantity_threshold %>

  <%= f.submit "Submit" %>
<% end %>