<h1>Bulk Discounts Index Page</h1>
<h2>Discounts available</h2>
<h4><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id), style: 'pull-right' %></h4>
</h3>
<% @bulk_discounts.each do |discount| %>
<h3>Discount Code#<%="#{discount.id}" %> </h3>
  <div id="discount <%=discount.id %>">
    <li>Percentage Discount:<%=discount.percentage_discount%>%</li>
    <li>Quantity Threshold:<%=discount.quantity_threshold%></li>
    <li><%= link_to "Discount info for # #{discount.id}", merchant_bulk_discount_path(discount.merchant.id, discount.id), style: 'pull-right' %></li>
</div>
<% end %>
