<h1> Bulk Discounts </h1>

<div id="discount-deets">

<%= link_to "New Discount", new_merchant_bulk_discount_path(@merchant.id) %>
 <p> <% @merchant.bulk_discounts.each do |discount| %>
  <div id="discount-deets-<%= discount.id %>">
    <%= " This discount gives #{discount.percent_discount}% off when you buy #{discount.quantity_threshold}." %>
    <%= link_to "Delete", merchant_bulk_discounts_path(@merchant.id)%>
     <p> <%=link_to "Bulk Discount",  merchant_bulk_discount_path(@merchant.id, discount.id) %>                                                         

  </div>
  <% end %>
</div>

<div id="holidays-">
  <h2> Upcoming Holidays </h2>
  <ol>
  <li><%= @holidays.holiday_first[:name] %> ~ <%= @holidays.holiday_first[:date] %></li>
  <li><%= @holidays.holiday_second[:name]%> ~ <%= @holidays.holiday_second[:date] %></li>
  <li><%= @holidays.holiday_third[:name]%> ~ <%= @holidays.holiday_third[:date] %></li>

  </ol>
  </div>
