<header> Upcoming Holidays: </header>
<% @holiday_info.each do |holiday| %>
  <p><%= holiday.holiday_name %> <%= holiday.holiday_date %></p>
<% end %>


<%= link_to "New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>

<% @bulk_discounts.each do |discount| %>
<%= link_to "Delete #{discount.name}", merchant_bulk_discount_path(@merchant, discount), method: :delete%>
<%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %>
  <p>Discount Percent: <%= discount.percentage_discount %></p>
  <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
<% end %>
