<h1> Currently Existing Discounts </h1>

<h2><%= link_to "Create New Discount", "/merchant/#{@merchant.id}/bulk_discounts/new" %></h2>

<h3> Upcoming Holidays: </h3>

<% @holidays.holiday_information.each do |holiday| %>
  <h3>Holiday Name: <%= holiday.name %></h3>
  <li><%= holiday.date %></li>
<% end %>


<% @merchant.bulk_discounts.each do |discount| %>

  <h2>Bulk Discount ID: <%= link_to "#{discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %></h2>
  <h3>Discount Percent: <%= discount.percent %> </h3>
  <h3>Discount Threshold: <%= discount.threshold %> </h3>

  <%= button_to "Delete Bulk Discount #{discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
<% end %>
