<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Create New Discount', new_merchant_bulk_discount_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

  <div class="discounts">
    <% @discounts.each do |discount| %>
      <div id="discount-<%=discount.id%>">
        Discount: <%= link_to discount.name, merchant_bulk_discount_path(@merchant, discount) %> <br>
        Discount Percentage: <%= discount.percentage %>% <br>
        Minimum Threshold: <%= discount.quantity %> items <br>
        <%= link_to "Delete Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
        <br>
        <br>
      </div>
    <% end %>
  </div>

  <h3> Upcoming Holidays </h3>
  <ol>
  <% @holidays.each do |holiday| %>
    <li> <strong> <i> <%= holiday.name %> </strong> </i> </li> <br>
  <% end %>
  </ol>

