<h2>Upcoming Holidays</h2>

<% @holidays.each do |holiday| %>
  <p><%= holiday.name %> <%= holiday.date %></p>
<% end %>

<div id="merchants-discounts-index">
  <% @bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <p>Percentage: <%= link_to "#{discount.percentage}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}"%> Threshold: <%= "#{discount.threshold}" %></p>
    <p><%= button_to "Delete Discount",  merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %></p>
  </div>
  <% end %>
</div>
<p><%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %></p>
