
<%= link_to 'New Bulk Discount', new_merchant_bulk_discount_path(@merchant) %>

<% @bulk_discounts.each do |bulk_discount| %>
<ul>
  <section id='-<%= bulk_discount.id %>'>
    <li>Percent off: <%= bulk_discount.discount %><br>
      Quantity threshold: <%= bulk_discount.threshold %>
      <%= link_to 'Inspect', [@merchant, bulk_discount] %> <%= link_to 'Delete', [@merchant, bulk_discount], method: :delete %>
    </li>
  </section>
</ul>
<% end %>
