<h1>Bulk Discounts</h1>
<% @discounts.each do |discount| %>
 <div id="discount-<%= discount.id %>">
    <ul>
      <li><%= link_to "Discount", merchant_bulk_discount_path(@merchant, discount) %><%=": %#{(discount.percentage * 100).to_i} "%></li>
      <%= "Amount of items needed for discount: #{discount.quantity_threshhold}"%><br>
      <%= button_to "Delete Discount",[@merchant, discount], method: :delete %><br><br>
    </ul>
  </div>
<%end %>
<%= link_to "Create New Discount", "/merchant/#{@merchant.id}/bulk_discounts/new"%>