<h2> <%= @merchant.name %> Bulk Discounts </h2>
  <% @discounts.each do |discount| %>
 
    <div id="<%= discount.id %>" >
      Discount: <%= discount.percentage_discount %>%, Quantity: <%= discount.quantity_threshold%>
      <%= link_to discount.id, merchant_bulk_discount_path(@merchant, discount) %>

      <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete%> 
    </div>
  <% end %>
  <%= link_to 'New Discount', new_merchant_bulk_discount_path(@merchant) %>
