<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %>
      <%= link_to 'My Items', merchant_items_path(@merchant), style: 'pull-right' %>
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), style: 'pull-right' %>
      <%= link_to 'My Discounts', merchant_bulk_discounts_path(@merchant), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<h1><%= @merchant.name %>'s discounts</h1>
<h2><a href="/merchant/<%=@merchant.id%>/bulk_discounts/new">new discount</a></h2>

<% @merchant.bulk_discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <ul>
      <li><a href="/merchant/<%=@merchant.id%>/bulk_discounts/<%=discount.id%>"><%= discount.name %></a></li>
      <li>Discount: <%= discount.discount_int %>%</li>
      <li>Quantity Threshold: <%= discount.quantity_threshold %></li>
      <%= button_to "delete discount", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>

    </ul>
  </section>
<% end %>
