<% @merchant.bulk_discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">

<%= discount.discount %>
<%= discount.quantity %>
<%= link_to 'Discount', "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %>
<%= link_to "Delete #{discount.discount}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" , method: :delete %>
 </div>
<% end %>

<%= link_to 'Create Discount', "/merchant/#{@merchant.id}/bulk_discounts/new" %>

<h3>Upcoming Holidays</h3>
<% @holidays.each do |holiday| %>
  <%= holiday.name %>
  <%= holiday.date %>
<% end %>
