<%=@merchant.name%>
 <% flash.each do |type, msg| %>
 <% end %>
<%=link_to "New Discount", new_merchant_bulk_discount_path(@merchant)%>

<% @merchant.bulk_discounts.each do |bd| %>
<div id="BulkDiscount-"<%=bd.id%>>
  <li><%=link_to "#{bd.name}",  merchant_bulk_discount_path(@merchant, bd) %>:
   <%= bd.percentage_discount %>% off with
    <%= bd.quantity_threshold %> or more items
  </li>
  </div>
<% end %>