<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %> Discounts</p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>
<body>
  <section id="create-discount">
    <p><%= link_to 'New Discount', new_merchant_bulk_discount_path(@merchant) %></p>
  </section>
  <section id="bulk-discounts-list">
    <ul class='ml-auto col-sm-4'>
      <p><% @bulk_discounts.each do |discount| %>
        <div id="discount-<%= discount.id %>">
          <li><%= link_to discount.promo_name, merchant_bulk_discount_path(@merchant, discount) %>
          <p>Discount: <%= discount.percentage_discount * 100 %>%</p>
          <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
          </li>
        </div>
      <% end %>
      </p>
    </ul>
  </section>
</body>