<h2>Bulk Discounts</h2>

<%= link_to 'Create bulk discount', new_merchant_bulk_discount_path(@merchant) %>

<% @merchant.bulk_discounts.each do |bulk_discount| %>
  <div id='bulk_discount-<%= bulk_discount.id %>'>
    <p>Discount: <%= link_to "#{bulk_discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %>
    <p>Quantity Threshold: <%= bulk_discount.quantity_threshold %> items<p>
    <p>Percentage: <%= bulk_discount.percentage %>%<p>
    <%= link_to "Delete bulk discount #{bulk_discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete %>
  </div>
<% end %>