<h1> <%= @merchant.name %> Bulk Discounts Index</h1>
<br>
<%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant) %>
<br>
<% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <li> Percentage Discount: <%= discount.percentage_discount %>
        Quantity Threshold: <%= discount.quantity %>
        <%= link_to "Discount Details", merchant_bulk_discounts_path(@merchant, discount)  %>
    </li>
  </div>
<% end %>
