<h2><%= "#{@merchant.name}'s Bulk Discount Page"%></h2>

<section id = "holidays">
  <h3>Upcoming Holidays</h3>
  <% @holidays.each_with_index do |holiday, index| %>
  <div id = <%= "holiday-#{index}" %>>
  <li> <%= holiday %> <%= link_to "create discount", merchant_new_holiday_path(@merchant, index) %></li>
</div>
<% end %>
</section>

<ul><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %> </ul>
<ul class='ml-auto'>
    <% @merchant.bulk_discounts.each do |discount| %>
    <section id = <%= "bulk-discounts-#{discount.id}" %> >
          <h3>Discount:<%= discount.name %> </h3>
          <li>Percentage Discount: <%= number_to_percentage(discount.percentage_discount, precision: 0) %></li>
          <li>Quantity Threshold: <%= discount.quantity_threshold %></li>
          <li><%= link_to "Link to #{discount.name}", merchant_bulk_discount_path(@merchant, discount.id) %></li>
          <li><%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount.id), method: :delete %></li>
    </section>
    <% end %>
</ul>
