<%= render partial: "nav_bar", locals: { merchant: @merchant } %>

<div class="table_container">
  <table> 
    <tr>
      <th> Bulk Discount ID </th>
      <th> Quantity Threshold </th>
      <th> Percentage Discount </th>
      <th> Discount Actions </th>
    </tr>
    <% @bulk_discounts.each do |discount| %>
      <tr>
        <div id = "bulk_discount-<%= discount.id %>">
          <td> <%= link_to "##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %> </td>
          <td> <%= "#{ discount.quantity_threshold } units" %> </td>
          <td> <%= "#{ discount.percentage_discount.to_i }%"%> </td>
          <td> <%= button_to "Delete Discount", [@merchant, discount], method: :delete %> </td>
        </div>
      </tr>
    <%end%>
  </table>
</div>

<p><%= link_to "New Discount", new_merchant_bulk_discount_path(@merchant)%></p>

<h3>Upcoming Holidays</h3>
<div id="next_three_holidays">
  <ul>
    <% @holidays.each do |holiday| %>
      <li><%= holiday.name %> - <%= holiday.date %></li>
    <% end %>
  </ul>
</div>