<h2><%= @merchant.name %>'s Discounts</h2>

<header>
  <h3>Upcoming Holidays</h3>
  <div id="holidays">
    <% @holidays.each do |holiday| %>
      <strong><%= holiday %></strong>
    <% end %>
  </div>
</header>

<% if @discounts.any? %>
  <ul>
    <% @discounts.each do |discount| %>
      <div id="bulk_discount-<%= discount.id %>">
        <li><%= link_to "Discount ID ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></li>
        <li>Discount: <%= discount.discount %>%</li>
        <li>Item Threshold: <%= discount.quantity %></li>
        <p><%= link_to "Delete Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete, local: true %></p>
      </div>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>You do not have any bulk discounts.</p>
<% end %>

<strong><%= link_to "Create New Discount", new_merchant_bulk_discount_path %></strong>