<h1><center> <%= @merchant.name %> Bulk Discounts Available </center> </h1> 
<hr>
<br>
<%= link_to "Add New Discount", new_merchant_bulk_discount_path(@merchant) %>
<br>
<br>

<% @bulk_discounts.each do |bulk_discount| %>
<div id="discount-<%= bulk_discount.id%>">

  <p>Percentage: <%= bulk_discount.percentage %>% </p>
  <p>Min Qnty: <%= bulk_discount.quantity_threshold %></p>
  <p><%= link_to "More Details #{bulk_discount.id}", merchant_bulk_discount_path(bulk_discount.merchant.id, bulk_discount.id) %> </p>
  <p><%= button_to "Delete Discount #{bulk_discount.id}", merchant_bulk_discount_path(bulk_discount.merchant.id, bulk_discount.id), method: :delete %></p>
</div>
<% end %>

<strong> Upcoming Holidays <strong>
<br>
<% @holidays.slice(0..2).each do |holiday| %>

  <p>Holiday: <%= holiday.name %>, Date: <%= holiday.date %> </p>
<% end %>