<section id="discount-index-<%= @merchant.id %>">
	<h1>Discounts</h1>
	<section id="discounts">
		<% @merchant.bulk_discounts.each do |discount|%>
		<section id = "discount-<%= discount.id %>">
			Percent Discount: <%= discount.percent_discount %>
			Quantity Threshold: <%= discount.quantity_threshold %>
			<%= link_to "Discount #{discount.id}",  merchant_bulk_discount_path(@merchant.id, discount.id) %>
		</section>
		<% end %>
	</section>
</section>
