<h2><%= "#{@merchant.name}'s Bulk Discount Page"%></h2>

<section id = "holidays">
  <h4>Upcoming Holidays</h4>
  <% @holidays.each do |holiday| %>
  <li> <%= holiday %></li>
  <% end %>

<ul class='ml-auto'>
    <% @merchant.bulk_discounts.each do |discount| %>
    <section id = <%= "bulk-discounts-#{discount.id}" %> >
          <h4>Discount:<%= discount.name %> </h4>
          <li>Percentage Discount: <%= number_to_percentage(discount.percentage_discount, precision: 0) %></li>
          <li>Quantity Threshold: <%= discount.quantity_threshold %></li>
          <li><%= link_to "Link to #{discount.name}", merchant_bulk_discount_path(@merchant, discount.id) %></li>
    </section>
    <% end %>
</ul>
