<h1> Discounts For <%=@merchant.name%>! </h1>

<%= button_to "New Discount", new_merchant_bulk_discount_path(@merchant), method: :get, local: true %>
<br>
<%@bulk_discounts.each do |discount|%>
    <div id=discounts-<%=discount.id%>>
      <p> Discount: <%=(discount.percentage_discount ) * 100%>% | Quantity Threshold: <%=discount.quantity_threshold%> | <%= link_to "Discount ##{discount.id}'s Page",  merchant_bulk_discount_path(@merchant, discount), method: :get %> </p>
      <p><%= button_to "Delete Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete%>
    </div>
<%end%>