<h1><%= @merchant.name %>'s Discounts</h1>

<div id="discounts">
  <ol>
  <% @merchant.bulk_discounts.each do |discount| %>
    <div id="discount_<%= discount.id %>">
      <li><%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %> Discount: <%= discount.percent_discount %> | Quantity Threshold: <%= discount.quantity_threshold %></p>
    </div>
  <% end %>
  </ol>
</div>
  