<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @bulk_discounts.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <h2><%= @merchant.name %>'s Discounts</h2>

  <div>
    <% @bulk_discounts.each do |discount| %>
      <section id="discount-<%= discount.id %>">
        <li>
          <%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %>
        </li>
        <p>Discount: <%= discount.discount_percent%>%</p>
        <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
    <% end %>
</body>