<h1>Create a New Bulk Discount</h1>
<br>
<%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |form| %>
  <p><%= form.label :title, "Title" %>
  <%= form.text_field :title, required: true %></p>
  <br>
  <%= form.label :percentage_discount, "Discount Precentage:" %>
  <%= form.select :percentage_discount, [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95], required: true %></p>
  <br>
  <%= form.label :quantity_threshold, "Quantity Threshold:" %>
  <%= form.number_field :quantity_threshold, min: 0, step: 1, max: 100, value: 0, required: true %></p>
  <br>
  <%= form.submit "Create Discount" %>
<% end %>