<%= render partial: "nav_bar", locals: { merchant: @merchant } %>

<div id="new_merchant_form">
  <%= form_with model: [@merchant, @bulk_discount], method: :post, local: true do |form| %>
    <p>
      <%= form.label :quantity_threshold, "Quantity Threshold (1+): " %>
      <%= form.text_field :quantity_threshold %>
      units
    </p>
    <p>
      <%= form.label :percentage_discount, "Percentage Discount (1-99): " %>
      <%= form.text_field :percentage_discount %>
      %
    </p>
    <p><%= form.submit "Add Discount" %></p>
  <% end %>
</div>