<h1>New Bulk Discount Form</h1>

<%= form_with url:"/merchant/#{@merchant.id}/bulk_discounts", method: :post, local: true do |f| %>
<%= f.label :percent %>
 <%= f.text_field :percent %><br>

 <%= f.label :threshold %>
 <%= f.text_field :threshold %><br>

 <%= f.hidden_field :merchant_id, :value => @merchant.id %>

 <%= f.submit %>
<% end %>
