<h2>Create a New Bulk Discount</h2>
<%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :percentage_discount %>
  <%= f.text_field :percentage_discount, max: 99, min: 1%>
  <%= f.label :quantity_threshold %>
  <%= f.text_field :quantity_threshold %>
  <%= f.hidden_field :status, value: @merchant.id %>
  <%= f.submit 'Submit' %>
<% end %>
