<h1>New Holiday Discount Form</h1>

<%= form_with model: [@merchant, @bulk_discount], local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name, value: "#{@holiday} Discount" %>
<%= f.label :percentage_discount %>
<%= f.number_field :percentage_discount, value: 30, in: 1..99 %>
<%= f.label :quantity_threshold %>
<%= f.number_field :quantity_threshold, value: 2, min: 0 %>
<%= f.submit 'Submit' %>
<% end %>
