<header>
  <h2>New Bulk Discount</h2>
</header>
<section id="new_discount">
  <%=  form_with url: merchant_bulk_discounts_path(@merchant), local: true do |f| %>
    <%=  f.label :name, "Discount name:" %>
    <%=  f.text_field :name, required: true %><br>
    <%=  f.label :percentage_discount, "Discount Percentage:" %>
    <%=  f.number_field :percentage_discount, :step => "0.01",required: true %><br>
    <%=  f.label :quantity_threshold, "Quantity:" %>
    <%=  f.number_field :quantity_threshold, required: true %><br>
    <%=  f.submit "Submit" %>
  <% end %>
</section>