<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>

  <div class="row">
    <p class='col-12'>Discount ID: <%= @discount.id %> </p>
  </div>

      <section class='ml-auto col-sm-4'>
        <ul>
          <li> Quantity Threshold: <%= @discount.qty_threshold %> </li>
          <li> Percentage Off: <%= @discount.percent_discount %>% </li>
        </ul>
      </section>

</body>
