<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p><%= link_to "Home", "/" %></p>
    <h1 class="navbar-text"><%= @merchant.name %></h1>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'My Bulk Discounts', merchant_bulk_discounts_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<h1> Bulk Discount Show Page </h1>

<p>Percent Off: <%= @bulk_discount.percent_off %>% </p>
<p>Quantity Required: <%= @bulk_discount.quantity %> </p>
<p>Status: <%= @bulk_discount.status %> </p>
<p>Merchant: <%= @bulk_discount.merchant.name %></p>
<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount), method: :get %>
