
<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<h2> Bulk Discount Info: <%= @bulk_discount.id%> </h2>

<h4> Percentage Off: <%= "#{@bulk_discount.percent_discount}%" %> </h4>
 <h4> Amount Required:<%= "#{@bulk_discount.quantity_threshold}" %></h4>

 <div id="edit-discount">
 <%= link_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount)%>
 </div>