<h1> <%= @merchant.name %>: <%= @discount.name %> Discount </h1>

<div>
    <section id="discount-info">
    <p><%= @discount.name %></p>
    <p>Discount: <%= @discount.discount_to_percentage %></p>
    <p>Threshold: <%= @discount.threshold %></p>
</div>