<div id="discount-<%=@discount.id%>">
  Discount: <%= @discount.name %> <br>
  Discount Percentage: <%= @discount.percentage %>% <br>
  Minimum Threshold: <%= @discount.quantity %> items <br>
  <%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@discount.merchant, @discount) %>
</div>