<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %>
      <%= link_to 'My Items', merchant_items_path(@merchant), style: 'pull-right' %>
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='col-12'>Invoice #<%= @invoice.id %></p>
  </div>

  <div id="current-invoice-status">
    <strong>Status: </strong><%= @invoice.status %>
  </div>
  <br>

  <p> Created on: <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %></p>
  <p>Total Revenue: <%= number_to_currency(@invoice.merchant_total_revenue(@merchant).to_f, percision: 2)%></p> 
  <p>Discounted Revenue: <%=number_to_currency(@invoice.discounted_revenue(@merchant).to_f, precision: 2) %></p>

  <h4>Customer:</h4>
    <%= @customer.first_name %> <%= @customer.last_name %><br>
  <br>
  <br>
  <h4>Items on this Invoice:</h4>
  <table class="table">
    <thead>
      <tr class="tr">
        <th class="th1">Item Name</th>
        <th class="th1">Quantity</th>
        <th class="th1">Unit Price</th>
        <th class="th1">Status</th>
        <th class ="th1">Discount Applied</th>
      </tr>
    </thead>

    <tbody>
      <% @invoice.invoice_items.each do |i| %>
        <section id="the-status-<%= i.id %>">
          <tr class="tr">
            <td style="text-align:center"><%= i.item.name %></td>
            <td style="text-align:center"><%= i.quantity %></td>
            <td style="text-align:center">$<%= i.unit_price %></td>
            <td style="text-align:center"><%= form_with model: @invoice, url: merchant_invoice_path(@merchant, @invoice), method: :patch, local: true do |f| %>
                                            <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
                                            <%= f.submit 'Update Invoice' %>
                                          <% end %></td><br/>
            <% if i.find_discount != nil %>
            <td style="text-align:center"><%= link_to "#{i.find_discount.percentage * 100}%", merchant_bulk_discount_path(@merchant, i.find_discount.id) %></td>  
            <% else %>        
            <td style="text-align:center">No Discount Applied</td> 
            <% end %>               
          </tr>
        </section>
      <% end %>
    </tbody>
  </table>
</body>
