<h2>New Discount Information</h2>
<%= form_with url: url, method: method, local: true do |f| %>

<%= f.label "Discount Name:" %>
<%= f.text_field :name %>
<br><br>
<%= f.label "Threshold Quantity" %>
<%= f.number_field :threshold %>
<br><br>
<%= f.label "Discount Percentage" %>
<%= f.number_field :percentage %>
<br><br>
<%= f.hidden_field :merchant_id, value: @merchant.id %>
<%= f.submit "Create Discount" %>
<% end %>
