<h1>Discount Edit Page</h1>

<%= form_with url: merchant_discount_path(@merchant, @discount), method: :patch, local: true do |f| %>
  <%= f.label :threshold %>
  <%= f.text_field :threshold, :value => "#{@discount.threshold}" %><br><br>
  <%= f.label :percentage %>
  <%= f.text_field :percentage, :value => "#{@discount.percentage}" %><br><br>
  <%= f.submit "Update Discount" %>
<% end %>