<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %><br>
      <%= link_to 'My Items', merchant_items_path(@merchant), style: 'pull-right' %><br>
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), style: 'pull-right' %></li>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='col-12'>My Bulk Discounts</p>
    <h3>Next 3 Upcoming Holidays!</h3>
    <ul>
      <h2><% @holidays.each do |holiday| %></h2>
        <li>
          <h2><%= holiday.name %></h2>
          <h2><%= holiday.date %></h2>
        </li>
      <%end%>><br><hr>
    </ul>
  </div>
  <%@merchant.discounts.each do |discount|%>
    <section id="bulk_discounts-<%=discount.id%>">
      <p>Right now, you can receive a <%=discount.percentage%>% percent discount, on quantities of <%=discount.quantity%> or more!</p>
      <p><%=link_to "View your Discounts", merchant_discount_path(@merchant.id, discount.id)%></p>
    </section>
  <%end%>
</body>
