<%= link_to "New Discount", "/merchant/#{@merchant.id}/discounts/new" %>

<% @merchant.bulk_discounts.each do |discount| %>

  <div id="discount-<%= discount.id %>">
    <p>Id: <%= link_to "#{discount.id}", "/merchant/#{discount.merchant_id}/discounts/#{discount.id}" %></p>
    <p>Discount: <%= discount.percentage %>%</p>
    <p>Threshold: <%= discount.threshold %></p>
  </div>
<% end %>
