<h1><%=@merchant.name%>'s Discounts<h1>

<h4><div class="discount_list">
  <h4><% @discounts.each do |discount| %>
    <%= link_to "#{discount.name}", merchant_discount_path(@merchant.id, discount.id) %>
    <h5><p>Percent Discount: <%= discount.percent_discount%></p>
    <p>Quantity Threshold: <%= discount.threshold%></p></h5>
  <%end%>
</div></h4>

<div class="upcoming_holidays">
  <h2>Upcoming Holidays:<br></h2>
  <% @holidays.upcoming_us_holidays.each do |holiday| %>
    <th scope="row"><%= holiday[:name]%></th><br>
    <th scope="row"><%= holiday[:date]%></th><br><br>

  <%end%>
