<h1>Discount <%= @discount.id %></h1>

<p>Discount ID: <%= @discount.id %></p>
<p>Percent: <%= @discount.percentage_discount %></p>
<p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
<br>
<%= link_to 'Edit Discount', edit_merchant_discount_path(@merchant, @discount) %>
