<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-container">
      <h1 style="text-align:center; background-color:#EBEFF3;">Little Esty Shop</h1>
      <% flash.each do |type, notice| %>
        <h3><b><%= notice %></b></h3>
      <% end %>
      <%= yield %>

    </div>
  </body>
</html>
